.container {
	width: 700px;
	margin: 0 auto;
	}

@media (max-width: 950px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 800px) {
	.container {
		width: 530px;
	}
}

@media (max-width: 580px) {
	.container {
		width: 350px;
	}

}

